body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 {
    font-size: large;
}

form, h2 {
    text-align: center;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid black;
    border-radius: 20px;
}

#cn {
    width: 80%;
    padding: 15px;
    border-radius: 5px solid black;
    margin: auto;
    text-align: center;
}
